<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
 <style>
 
 h1 {text-align: center;}
 
p {text-align: center;}
div {text-align: center;}

 </style>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>
<marquee>welcome to our prediction page</marquee>

<body style="background-color:white;">
 
 
 <div class="login">
        <img src="https://innodatatics.ai/assets/innologo.png">
         
	<h1 style="color:red;">Price prediction of new EduTech</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	
        <input type="text" name="Maintenance_cost" placeholder="Maintenance_cost" required="required" />
            <br>
            <br>
            <input type="text" name="Marketing_cost" placeholder="Marketing_cost" required="required" />
            <br><br>
            <input type="text" name="Salary_of_the_trainer" placeholder="Salary_of_the_trainer" required="required" />
            <br><br>
            <input type="text" name="Duration_of_coaching_in_Hours" placeholder="Duration_of_coaching_in_Hours " required="required" /> 
             <br><br>
		<input type="text" name="Debentures" placeholder="Debentures" required="required" />
             <br><br>
		
             
            <label for="df">Mode of class:</label>

<select name="Mode_of_Class">
   
     
  <option value="1">Offline</option>
  <option value="2">Online</option>
<option value="0">blended learning</option>

         
             
            
  
</select>
              <br><br>
             

           <label for="df">Level of course:</label>

<select name="Level_of_Course">
    <option value="0">Beginner</option>
  <option value="1">Intermediate</option>
  <option value="2">expert</option>

  
</select> 
        <br>
        <br>

 <label for="df">Location:</label>

<select name="Location">
    <option value="0">Andhra pradesh</option>
  <option value="1">Chhattisgarh</option>
  <option value="2">Gujarat</option>
  <option value="3">Karnataka</option>
<option value="4">Kerala</option>
<option value="5">Kolkata</option>
<option value="6">Madhya Pradesh</option>
<option value="7">Maharastra</option>
<option value="8">New Delhi</option>
<option value="9">Pan India</option>
<option value="10">Tamilnadu</option>
<option value="11">Telangana</option>


  
</select> 
<br>
<br>

            


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>